*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.main-nav{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.main-subnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    
}

b{
    color: black;
}

.logo-img{
    display: inline-block;
    width: 90%;
}

.hamburger{
   display: inline-block;
}

.hamburger a{
    text-decoration: none;
    color: #6041e8;
}

.menu{
    display: none;
}

header{
    padding: 35% 30px;
    background-color: #fff;
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 70px;
}

.value-proposition-content {
color: #4d4d5f;
}

.mascot{
    padding-top: 30px;
}


.mascot img {
    width: 400px;
}

h1{
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    width: 100%;
    color: white;
}

.product-proposition{
    padding: 9% 30px;
    background-color: #5735e8;
}

.product-proposition h2{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: white;
}

.values-added{
    padding: 5% 30px;
    font-size: 18px;
    background-color: #eaf0fd;
}

.privacy{
    padding: 3% 25px;
    font-size: 16px;
    color: #4d4d5f;
    line-height: 24px;

}

.privacy h3 {
    text-align: left;
}

.list-values{
    list-style: none; 
    margin:0 0 35px 0;
    padding-right: 0;
    padding-left: 0;
}

.list-values li{
    text-align: center;
    font-size: 16px;
    line-height: 30px;

}
.mobile-app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5% 30px;
}

.mobile-app-imgs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mobile-app-imgs img{
    height: 270px;
}

h3{
    font-weight: 400;
    margin-bottom: 35px;
    text-align: center;
}

.mobile-app p{
    text-align: center;
    font-size: 15px;
    margin-top: 35px;
}

.form-explain{
    padding: 2% 30px;
    font-size: 16px;
    line-height: 23px;
    background-color: #21cadc;
    text-align: center;
    color: white;
}

.form-explain .sub-tagline{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


input{
    display: block;
    width: 100%;
    background-color: #eaf0fd;
    border: none;
    height: 40px;
    border-radius: 7px;
    padding-right: 10px;
    padding-left: 10px;

}

label{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

i{
    color: #21cadc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.typeform-widget{
    padding: 4% 30px;
    height: 300px;
}

footer{
    padding: 3% 30px;
    background-color: #2625b6;
    color: white;
    font-size: 16px;
    line-height: 21px;
}

.social{
    list-style: none;
    margin:0;
    padding-left: 0;
}

.social_icon{
    display: inline-block;
}

address{
    font-style: normal;
}

address p{
    margin:8px 0 8px 0;
}
address h4{
    font-size: 20px;
    text-align: center;
}

address a{
    color: white;
    text-decoration: none;
}

.privacy a{
    color: white;
    text-decoration: none;
}


.social_icon{
    width: 47%;
    text-align: center;
    color: white;
}

.social_icon i{
    color: white;
}

.social-media{
    margin: 15px 0 30px 0;
}

.mascot-privacy img{
    width: 350px;
}



@media screen and (min-width: 680px){
    header{
        padding: 25% 30px; 
    }

    /*.logo-img{
        position: absolute;
        width: 10%;
        top:30px;
        left:30px;
    }*/

    .logo-img{
        width: 50%;
    }

    h1{
        font-size: 23px;
    }

    .product-proposition h2{
        font-size: 25px;
    }

    .product-proposition{
        padding-right: 100px;
        padding-left: 100px;
    }

    h3{
        font-size: 25px;
    }

    .values-added{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .list-values{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .value-item{
        flex-basis: 33%;
    }

    .list-values li{
        font-size: 20px;
        line-height: 27px;
    }

    .form-explain p{
        font-size: 20px;
        line-height: 25px;
    }

    .form-explain .sub-tagline{
        font-size: 20px;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: space-between;
    }

    footer h4{
        text-align: left;
    }

    .contact-info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }

    address{
        flex-basis: 80%;
    }

    .social-media{
        flex-basis: 20%;
        
    }

    .social{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }



    .privacy{
        padding-left: 50px;
        padding-right: 50px;

    }

    .hero{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 70px;
    }
    
    .value-proposition-content {
    color: #4d4d5f;
    font-size: 30px
    }
    
    
    .value-proposition {
        
        flex-basis: 80%;
    }
    
    .mascot img {
        width: 400px;
    }

    


}

@media screen and (min-width: 1000px){
    header{
        padding: 5% 60px;
        background-position-x: 0;
    }

    .logo-img{
        width:20%;
    }

    .product-proposition{
        padding: 3% 60px;
    }

    .mobile-app{
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mobile-access-text{
        font-size: 40px;
        margin-right: 50px;
    }

    .mobile-app-imgs img{
        height: 400px;
    }

    footer{
        padding-left: 100px;
        padding-right: 100px;
    }

    .hero{
        display: flex;
        flex-direction: row;
        justify-content: space-a;
        align-items: center;
        margin-top: 70px;
    }
    
    .value-proposition-content {
    color: #4d4d5f;
    font-size: 30px
    }
    
    
    .value-proposition {
        
        flex-basis: 80%;
    }
    
    .mascot img {
        width: 400px;
    }

    .privacy{
        padding-left: 100px;
        padding-right: 100px;
    }
}